body {
  margin:0;
  padding: 0;
  font-family: 'Montserrat', serif;
  overflow-X: hidden;
  font-family: monser;
}

.App {
  width:100vw;
  height:100vh;
}


.h1Text {
  position:absolute;
  top:400px;
  margin-left:60px;
  color:white;
  font-weight: 900;
  width:630px;
  font-size:100px;
  letter-spacing: 1px;
}






/* start of header/navbar container */
.navbarContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width:100%;
  position:fixed;
  top:5px;
  color:white;
  z-index: 50;
}
/* all class with name: navbarOnScrollY belong to the useState hook called colorChange. */
.navbarOnScrollY {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width:100%;
  height:90px;
  position:fixed;
  top:-5px;
  margin:0;
  background-color: rgb(83, 81, 81);
  color:white;
  z-index: 1;
}


.navbarOnScrollY .logo img,
.navbarOnScrollY  .linkContainer
{
  top:-90px;
  z-index: 1;
}

.logoContainer {
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left:56px;
}

.logo {
  width:10%;
}

.logo img {
  position: relative;
  top:-70px;
  width:280px;
}


.linkContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 33px;
  position: relative;
  top:-70px;
}

.linkContainer a {
  text-decoration: none;
  color:white;
}

.navbarOnScrollY a {
  text-decoration: none;
  color:black;
  z-index: 1;
  font-weight: 400;
}
.navbarOnScrollY a:hover {
  cursor:pointer;
  
  padding:5px;
  color:black !important;
}

.linkContainer a:hover {
  cursor:pointer;
  border-bottom: 3px solid #DA251D;
  padding:5px;
  color:white;
}

.adminButton {
  border: 1px solid #DA251D;
  padding:10px;
  border-radius:20px;
}

.adminButton a {
  color: white;
  border-bottom:none !important;
  font-weight: 500;
}

.adminButton:hover {
  border:1px solid white;
  border-radius:20px;
  padding: 10px;
}

.adminButton a:hover {
  color:#DA251D;
}

/* the above css is strictly for the header and navbar */

/* for the slider image */

.sliderCarouselContainer img {
    width:100vw;
    height:100vh;
    background-size: cover;
}
/* to remove the image lines at the bottom of the carousel */
.carousel-indicators { 
  visibility: hidden; 
}